<mat-card class="header"><img src="./../assets/logo-header.png"></mat-card>

<nav class="menu">
  <ul>
    <li>about us <mat-icon>expand_more</mat-icon>
      <ul class="menu-section">
        <li class="primary">brand philosophy</li>
        <li>product technology</li>
      </ul>
    </li>
    <li>our products <mat-icon>expand_more</mat-icon>
      <ul class="menu-section">
        <li class="primary">all products</li>
        <li>intibiome wellness</li>
        <li>intibiome active</li>
        <li>intibiome agecare</li>
      </ul>
    </li>
    <li>intimate health <mat-icon>expand_more</mat-icon>
      <ul class="menu-section health">
        <li class="primary">article 1</li>
        <li>article 2</li>
        <li>article 3</li>
        <li>faq</li>
      </ul>
    </li>
    <li>contact us</li>
  </ul>
</nav>